In [1]:
import numpy as np
import pandas as pd
import spacy
from multiprocessing import Pool
import re

In [2]:
train = pd.read_pickle("../input_data/input.pkl")

In [3]:
nlp = spacy.load('es')

In [4]:
train.head()

,question,answer,story,story_length,question_length
6549,VIAJE AL REINO HERMÉTICO: Una española en @pla...,@entity80,"En @entity388 se aprende a llorar en silencio,...",2000,9
6550,El estudiante de EEUU detenido en @placeholder...,@entity212,"En @entity212 se aprende a llorar en silencio,...",2000,13
8163,Volver a nacer dos veces en un mismo siglo en ...,@entity2,Si se callejea por el casco antiguo de @entity...,1998,11
25466,"\nMientras el @entity458, @placeholder y @enti...",@entity170,"Desde que la crisis se hizo evidente, la @enti...",1993,21
25465,"\nMientras el @placeholder, @entity10 y @entit...",@entity126,"Desde que la crisis se hizo evidente, la @enti...",1993,21

Error 1 (temporarily fixed)

In [26]:
201 * 16

3216

In [28]:
finds = train['story'].apply(lambda x: re.search(r'@entity3995', x))

In [29]:
finds[~pd.isnull(finds)].apply(lambda x: x.group(0))

28017    @entity3995
Name: story, dtype: object

In [30]:
train['story'][28017]

'@entity497 ha lanzado una nueva versión del @entity71 apenas medio año después del estreno del @entity71 6S. En esta ocasión, la compañía se ha decantado por un terminal de cuatro pulgadas que rompe con la tendencia actual del mercado, empeñado en crear terminales de pantalla grande. El nuevo @entity71 @entity446, que acaba de aterrizar en @entity45@entity39, pretende seducir a aquellos usuarios que prefieren un smartphone que pueda manejarse con una sola mano. Pero las dimensiones no son la única arma de seducción del nuevo gadget de los de @entity@entity3977, su precio (desde 489 euros en @entity497) también juega a su favor. \nNo obstante, aunque el precio del teléfono esté por debajo de lo que nos tiene acostumbrados @entity497, lo cierto es que se trata de un desembolso de varios centenares de euros, una cantidad que no todo el mundo puede abonar de golpe. ¿La solución? O bien ahorrar o bien financiar el teléfono. En este último caso, la pregunta es evidente: ¿dónde sale más barato financiar el nuevo @entity71 @entity446? Es difícil dar una respuesta concreta, ya que las opciones son variadas y el precio final depende, en gran medida, del plazo que se quiera asumir. Sin embargo, desde el comparador bancario @entity450 aclaran que @entity497 no es la opción más económica. De hecho, la diferencia con otros competidores puede ser de más de 30 euros al alza.\nA un plazo de 10 meses, que suele ser el período de aplazamiento estándar que ofrecen la mayoría de las tiendas de electrónica, hasta cuatro compañías de referencia nacional ofertan el @entity71 @entity446 sin intereses. La diferencia entre unas y otras radica en la comisión de apertura, que oscila entre los 7 y los 15 euros y en el precio del propio terminal. \nActualmente, @entity186 es la opción más barata para financiar la nueva joya de @entity497 a 10 meses. El precio del teléfono para los socios es de 474 euros, 15 euros por debajo del coste en @entity497 Store, el tipo de interés es del 0 % y la comisión de apertura, del 3 %. El teléfono acaba saliendo por 488,@entity39@entity39 euros (cuotas mensuales de 47,40 euros). No obstante, esta posibilidad solo está disponible para los clientes que tengan la tarjeta de socio de @entity186, que tiene un coste de emisión de 15 euros.\nFinanciar el @entity71 @entity446 en @entity@entity3995 y Carrefour (coste del terminal de 489 euros) y en @entity135 (485 euros) a 10 meses tiene un coste final de 496,34 euros, 499 euros y 499,55 euros respectivamente. En los tres casos el interés es del 0 % y las cuotas mensuales son de 48 euros aproximadamente, lo que varía es la comisión de apertura. La ventaja es que en ninguno de los tres casos es necesario pagar ningún extra como ocurre en el caso de FNAC por la tarjeta de socio. \n¿Y dónde queda @entity497? La dueña del @entity71 @entity446 se queda atrás en la carrera de la financiación barata. Con una diferencia de 31 euros con respecto a la opción más barata. La compañía de la manzana no ofrece financiación a 10 meses. Lo más similar es a 9 o a 1@entity39 meses, lo que implica o una cuota mayor en el primer caso o pagar más intereses en el segundo. Financiar el @entity71 @entity446 con @entity497 -la financiación se firma con @entity31@entity39 costaría 519,93 euros a 9 meses y 5@entity399,44 euros a 1@entity39 meses (el interés es del 14,95% y las cuotas mensuales, de 57,77 euros en el primer caso y de 44,1@entity39 euros en el segundo). El ranking lo cierra @entity373 que vende el terminal por 489 euros con un interés del 18 %. En este caso, el coste final a 10 meses es de 530,@entity395 euros. \nA pesar de que suelen tener fama de caras, las tarjetas de crédito pueden ser una buena alternativa, más baratas incluso que la financiación de algunas tiendas y mucho más prácticas, ya que no requieren firmar un contrato nuevo de financiación y, además, admiten una gran variedad de plazos. En este caso, lo interesante es pagar con una tarjeta que tenga un interés lo más bajo posible, a poder ser por debajo del @entity390 %, o que devuelva una parte del importe de las compras.\nPor ejemplo, financiar el @entity71 @entity446 con la Tarjeta de crédito de @entity155 a 1@entity39 meses, que tiene un interés del 15 % y bonifica el @entity39 % del importe de las compras, acabaría costando 519,86 euros (restando al total la devolución del @entity39 %), 10 euros menos de lo que costaría en @entity497 con el mismo plazo.\nCon la @entity314 1|@entity39|3, asociada a la popular @entity39|@entity39|@entity39 con una rentabilidad de hasta el 3 %, el coste final a 1@entity39 meses sería de 5@entity391,35 euros (interés del 1@entity39 % @entity413). Y con la Tarjeta de @entity4, otra de las más baratas del mercado (14,06 % @entity413), el coste total sería de 5@entity397,03 euros. \nTambién se puede utilizar una tarjeta que, aun teniendo un tipo de interés más alto, devuelva una parte importante del total de la compra. Es el caso de la @entity124 que bonifica el 5 % del importe de las compras aplazadas. En este caso, la financiación a 1@entity39 meses tendría un coste de 554,89 euros, pero la entidad devolvería @entity394,45 euros en concepto de bonificación, por lo que acabaría costando alrededor de 530 euros.\nEl mapa cambia si se opta por financiar la compra a corto plazo con la tarjeta. A seis meses, con la @entity200 el coste final sería de 499,35 euros, previa devolución del 5 %; en @entity155, de 500,84 euros (devolución del @entity39 % incluida); en @entity429, de 506,@entity396 euros; y en @entity4, 509,@entity393 euros.'

Error 2:

In [15]:
train.iloc[29521]['question']

'\nLas autoridades de @placeholder han ahogado la protesta estudiantil tras dos meses y medio '

In [10]:
d = nlp(train.iloc[29521]['question'])

In [11]:
d

Las autoridades de @placeholder han ahogado la protesta estudiantil tras dos meses y medio

In [12]:
[w.has_vector for w in d]

[False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [7]:
# def lengths(x):
#     return len(nlp(x, entity=False, parse=False, tag=False))

# with Pool(4) as p:
#     train['s_len'] = list(p.map(lengths, train['story']))

In [12]:
bn = 461
focus = train.iloc[(bn - 1) * 8: (bn + 20 - 1) * 8, :]

In [17]:
def get_word_ids(doc, rnn_encode=False, max_length=100, nr_unk=100):
    queue = list(doc)
    X = np.zeros(max_length, dtype='int32')
    M = np.zeros(max_length, dtype='int32')
    V = np.zeros(max_length, dtype='int32')
    words = []
    while len(words) <= max_length and queue:
        word = queue.pop(0)
        if rnn_encode or (not word.is_punct and not word.is_space):
            words.append(word)
    words.sort()
    for j, token in enumerate(words):
        if token.text == '@placeholder':
            V[j] = 1
        elif token.text[:7] == '@entity':
            V[j] = int(re.search(r'\d+', token.text[7:]).group(0)) + 2
        if token.has_vector:
            X[j] = token.rank+1
            M[j] = 1
        else:
            X[j] = (token.shape % (nr_unk - 1)) + 2
        j += 1
        if j >= max_length:
            break
    return X, M, V

In [31]:
for i in range(focus.shape[0]):
    X, M, V = get_word_ids(nlp(focus['story'].iloc[i], parse=False, tag=False, entity=False), max_length=2000)
    print(i)
    print(X.max(), X.min())
    print(V.max(), V.min())

0
692207 0
496 0
1
341773 0
475 0
2
692207 0
498 0
3
692207 0
501 0
4
341773 0
487 0
5
525760 0
500 0
6
831419 0
490 0
7
956716 0
466 0
8
850601 0
480 0
9
850601 0
476 0
10
692207 0
468 0
11
453924 0
499 0
12
1158527 0
460 0
13
786991 0
490 0
14
453924 0
501 0
15
453924 0
495 0
16
453924 0
497 0
17
523582 0
487 0
18
453924 0
491 0
19
443588 0
492 0
20
218098 0
496 0
21
218098 0
494 0
22
956716 0
490 0
23
956716 0
501 0
24
218098 0
500 0
25
453924 0
494 0
26
218098 0
501 0
27
688727 0
499 0
28
443588 0
453 0
29
443588 0
445 0
30
971417 0
482 0
31
971417 0
489 0
32
971417 0
499 0
33
218098 0
490 0
34
971417 0
492 0
35
971417 0
496 0
36
971417 0
497 0
37
971417 0
500 0
38
682479 0
494 0
39
956716 0
494 0
40
218098 0
486 0
41
956716 0
500 0
42
383190 0
490 0
43
635482 0
493 0
44
688727 0
491 0
45
726813 0
494 0
46
805189 0
497 0
47
383190 0
497 0
48
805189 0
501 0
49
577985 0
477 0
50
577985 0
495 0
51
541318 0
496 0
52
805189 0
494 0
53
541318 0
495 0
54
523582 0
479 0
55
682479 0
459 0
56
420842 0
501 0
57
1146577 0
455 0
58
416270 0
496 0
59
692207 0
498 0
60
416270 0
497 0
61
625470 0
357 0
62
625470 0
462 0
63
393918 0
495 0
64
416270 0
465 0
65
416270 0
497 0
66
416270 0
494 0
67
416270 0
496 0
68
197494 0
482 0
69
380994 0
494 0
70
197494 0
471 0
71
1146577 0
493 0
72
453907 0
455 0
73
525760 0
472 0
74
525760 0
498 0
75
453907 0
499 0
76
940667 0
495 0
77
1158527 0
494 0
78
453907 0
442 0
79
344331 0
500 0
80
410232 0
501 0
81
420842 0
490 0
82
344331 0
498 0
83
410232 0
464 0
84
629574 0
492 0
85
512147 0
494 0
86
404664 0
470 0
87
629574 0
496 0
88
410232 0
471 0
89
289817 0
497 0
90
773092 0
469 0
91
629574 0
496 0
92
420842 0
492 0
93
746218 0
499 0
94
512147 0
482 0
95
746218 0
488 0
96
410232 0
484 0
97
827579 0
493 0
98
805189 0
495 0
99
575038 0
493 0
100
548606 0
498 0
101
293346 0
496 0
102
217556 0
491 0
103
380994 0
496 0
104
355779 0
475 0
105
217556 0
456 0
106
393918 0
501 0
107
561540 0
491 0
108
746218 0
492 0
109
511486 0
501 0
110
380994 0
484 0
111
413271 0
494 0
112
927257 0
471 0
113
561540 0
416 0
114
565662 0
480 0
115
277873 0
486 0
116
406977 0
460 0
117
277873 0
501 0
118
132454 0
478 0
119
227679 0
496 0
120
227679 0
499 0
121
964906 0
493 0
122
964906 0
474 0
123
561540 0
501 0
124
779486 0
498 0
125
393918 0
486 0
126
393918 0
497 0
127
393918 0
490 0
128
333202 0
470 0
129
779486 0
500 0
130
1169924 0
497 0
131
277873 0
498 0
132
393918 0
489 0
133
779486 0
497 0
134
197494 0
449 0
135
565662 0
500 0
136
393918 0
500 0
137
964906 0
494 0
138
565662 0
460 0
139
1204492 0
488 0
140
1021531 0
496 0
141
285296 0
497 0
142
311488 0
493 0
143
311488 0
495 0
144
1204492 0
475 0
145
311488 0
487 0
146
1021531 0
484 0
147
311488 0
496 0
148
1021531 0
500 0
149
311488 0
448 0
150
201448 0
501 0
151
201448 0
498 0
152
201448 0
472 0
153
201448 0
501 0
154
1204492 0
501 0
155
455006 0
460 0
156
827579 0
490 0
157
827579 0
498 0
158
827579 0
476 0
159
406520 0
465 0